@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/archivo/bold.woff2') format('woff2'),
        url('/static/fonts/archivo/bold.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 700;
    src: url('/static/fonts/archivo/bolditalic.woff2') format('woff2'),
        url('/static/fonts/archivo/bolditalic.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    src: url('/static/fonts/archivo/semibold.woff2') format('woff2'),
        url('/static/fonts/archivo/semibold.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 600;
    src: url('/static/fonts/archivo/semibolditalic.woff2') format('woff2'),
        url('/static/fonts/archivo/semibolditalic.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/archivo/medium.woff2') format('woff2'),
        url('/static/fonts/archivo/medium.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 500;
    src: url('/static/fonts/archivo/mediumitalic.woff2') format('woff2'),
        url('/static/fonts/archivo/mediumitalic.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/archivo/regular.woff2') format('woff2'),
        url('/static/fonts/archivo/regular.woff') format('woff');
}

@font-face {
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 400;
    src: url('/static/fonts/archivo/regularitalic.woff2') format('woff2'),
        url('/static/fonts/archivo/regularitalic.woff') format('woff');
}
